{%  extends 'PeakyLearn/main.html' %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>
{#<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">#}
{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADMIN PAGE</title>


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript">
        // Load google charts
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        // Draw the chart and set the chart values
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Task', 'Hours per Day'],
                    [  'educators',
                       {{ educators | length }}],
                [  'students',
                    {{ students | length }}]
            ]);

            // Optional; add a title and set the width and height of the chart
            var options = {'title':'Total Students  vs Educators', 'width':650, 'height':500};

            // Display the chart inside the <div> element with id="piechart"
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }
    </script>

</head>
<body>

<div class = "jumbotron text-center" >
    <h1 style="padding-bottom: 20px">Welcome ADMIN</h1>
    <a style="margin-bottom: 30px" class="btn btn-sm btn-warning" href="{% url 'refundReqShowAdmin' %}">Show Refund & Discount Requests</a>

    <h3> All Students </h3>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <div id="piechart"></div>
        </div>
        <div class="col-md-6">
            <table id="students" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Student ID</th>
                    <th>first Name</th>

                </tr>
                </thead>
                <tbody>
                {% for count, course in sold_courses %}
                    <tr>

                        <td>{{ course.1 }}</td>
                        <td>{{ count }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>


    <table id="students" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
            <th>Student ID</th>
            <th>first Name</th>
            <th>last Name</th>

        </tr>
      </thead>
      <tbody>
          {% for student in students %}
              <tr>

                  <td>{{ student.0 }}</td>
                  <td>{{ student.4 }}</td>
                  <td>{{ student.5 }}</td>
              </tr>
          {% endfor %}
      </tbody>
      <tfoot>
            <th>Student ID</th>
            <th>first Name</th>
            <th>last Name</th>
      </tfoot>
    </table>

<h3> All Educators </h3>
    <hr>

    <table id="educators" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
            <th>Educator ID</th>
            <th>Wallet</th>

        </tr>
      </thead>
      <tbody>
          {% for ed in educators %}
              <tr>

                    <td>{{ ed.0 }}</td>
                    <td>{{ ed.1 }}</td>
              </tr>
          {% endfor %}
      </tbody>
      <tfoot>
            <th>Educator ID</th>
            <th>Wallet</th>
      </tfoot>
    </table>

<h3> All Users </h3>
    <hr>

    <table id="users" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
            <th>user id</th>
            <th>username</th>
            <th>password</th>
            <th>register Date</th>
            <th>first Name</th>
            <th>last Name</th>
            <th>email</th>
            <th></th>

        </tr>
      </thead>
      <tbody>
          {% for u in all_users %}
              <tr>

                 <td>{{ u.0 }}</td>
                  <td>{{ u.1 }}</td>
                  <td>{{ u.2 }}</td>
                  <td>{{ u.3 }}</td>
                  <td>{{ u.4 }}</td>
                  <td>{{ u.5 }}</td>
                  <td>{{ u.6 }}</td>
                  <td><a class="btn btn-sm btn-danger" href="{% url 'deleteUser' u.0 %}">Delete User</a></td>
                  <td><button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#exampleModal">Delete User</button>
                      <!-- Modal -->
                      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLabel">Delete User</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                      </button>
                                  </div>
                                  <div class="modal-body">
                                      Are you sure to delete this user?
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                      <a class="btn btn-danger"  href="{% url 'deleteUser' u.0 %}">Delete User</a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </td>


              </tr>
          {% endfor %}
      </tbody>
      <tfoot>
            <th>user id</th>
            <th>username</th>
            <th>password</th>
            <th>register Date</th>
            <th>first Name</th>
            <th>last Name</th>
            <th>email</th>
            <th></th>
      </tfoot>
    </table>

    <h3> All Courses </h3>
    <hr>

    <table id="products" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>Course ID</th>
            <th>Course Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Language</th>
            <th>Educator ID</th>
            <th>Description</th>
            <th>Average Rating</th>
            <th></th>


        </tr>
        </thead>
        <tbody>
        {% for course in all_courses %}
            <tr>

                <td>{{ course.0 }}</td>
                <td>{{ course.1 }}</td>
                <td>{{ course.2 }}</td>
                <td>{{ course.3 }}</td>
                <td>{{ course.4 }}</td>
                <td>{{ course.5 }}</td>
                <td>{{ course.6 }}</td>
                <td><a class="btn btn-sm btn-info" href="{% url 'discountReqStudent' course.0 %}">Create Discount Request</a></td>
                <td><a class="btn btn-sm btn-dark" href="{% url 'courseDetails' course.0 %}">Course Page</a></td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>

        <th>Course ID</th>
        <th>Course Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Language</th>
        <th>Educator ID</th>
        <th>Description</th>
        <th>Average Rating</th>
        <th></th>

        </tfoot>
    </table>

    <script>
        $(document).ready(function() {
            $('#products').DataTable();
        } );

    </script>


<script>
$(document).ready(function() {
    $('#products').DataTable();
} );

$('#myModal').on('shown.bs.modal', function () {
    $('#myInput').trigger('focus')
})


</script>

</div>

</body>
</html>

{% endblock %}