{%  extends 'PeakyLearn/main.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="col-md-12">
        <!-- Your second column here -->
        <h1 style="text-align: center; padding: 20px"> All Finished Courses </h1>
        <hr>
        <table id="products" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Certificate Name</th>

            </tr>
            </thead>
            <tbody>
            {% for certificate in certificates %}
                <tr>
                    <td>{{ certificate.2 }}</td>
                    <td><a class="btn btn-sm btn-warning" style="width: 100%;" href="{% url 'certificate' certificate.1 %}">Show Certificate</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <script>
            $(document).ready(function() {
                $('#products').DataTable();
            } );

        </script>
    </div>
</body>
</html>

{% endblock %}