#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Thu Jul 16 20:53:09 2020

@author: elifozer
"""

{% extends "layout.html" %}

{% block b1 %}


<h1>Yardım</h1>
<hr> 
        
<h3> Yeni Lisans Oluşturmak </h3>

<p>1- Sağ üstte bulunan Lisans Oluştur butonuna gidin</p>
<p>2- Lisans için gerekli boşlukları doldurunuz</p>
<p>3- Lisans için gerekli ID otomatik olarak oluşturulacaktır</p>

<hr><hr><hr>

<h3> Lisans Düzenlemek </h3>

<p>Düzenlemek istediğiniz lisansın yanında bulunan Düzenle butonu ile işleminizi yapabilirsiniz</p>
<p>Düzenlemek istediğiniz lisansı Anasayfada bulunan Arama kısmından bulabilirsiniz</p>

<hr><hr><hr>

<h3> Lisans Silmek </h3>

<p>Silmek istediğiniz lisansın yanında bulunan Sil butonu ile silme işleminizi yapabilirsiniz</p>
<p>Silmek istediğiniz lisansı Anasayfada bulunan Arama kısmından bulabilirsiniz</p>



{% endblock %}

