{%  extends 'PeakyLearn/main.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>certificate</title>
</head>
<style>
    body {
        background-image: url('../../../static/images/notes.png');
        background-repeat: repeat-y;
        background-size: cover;
    }
</style>
<body>
    <h1 style="padding-top: 50px; color: #860202; text-align: center"> Lecture Notes </h1>
    <hr>
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-9">
            <table cellspacing="10" style="width: 100%" >
                <thead>
                <tr>

                    <th style="padding-bottom: 10px">Contents</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for notes in all_notes %}
                    <tr style="border-bottom:1px solid #0551ee; ">
                        <td>{{ notes.4 }}</td>
                        <td style="float: right"><a class="btn btn-sm btn-outline-danger" href="{% url 'deleteNotes' notes.0 %}">Delete Note</a></td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>
    </div>


</body>


</html>

{% endblock %}