{%  extends 'PeakyLearn/main.html' %}

{% block content %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>
{#<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">#}
{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome {{ username }}
    </title>

</head>
<body>
<br>
<td><a href="/userLogout/" class = "btn btn-danger">Logout</a></td>
<a class="btn btn-sm btn-outline-secondary" href="{% url 'studentMainPage' %}">See All Courses</a>

<div class = "jumbotron text-center" >
    <h1>Welcome {{ username }}</h1>

    <h3> Purchased Courses </h3>
    <hr>

    <table id="products" class="table table-striped table-bordered" cellspacing="0" width="100%">
      <thead>
        <tr>
            <th>Course ID</th>
            <th>Course Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Language</th>
            <th>Educator ID</th>
            <th>Certificate ID</th>
            <th>Lecture Count</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>



        </tr>
      </thead>
      <tbody>
          {% for lectures,course in owned_courses %}
              <tr>

                    <td>{{ course.0 }}</td>
                    <td>{{ course.1 }}</td>
                    <td>{{ course.2 }}</td>
                    <td>{{ course.3 }}</td>
                    <td>{{ course.4 }}</td>
                    <td>{{ course.5 }}</td>
                    <td>{{ course.6 }}</td>
                    <td>{{ lectures }}</td>
                    <td><a class="btn btn-sm btn-info" href="{% url 'studentLectures' course.0 %}">See Lectures</a></td>
                    <td><a class="btn btn-sm btn-warning" href="{% url 'addReview' course.0 %}">Add Review</a></td>
                    <td><a class="btn btn-sm btn-danger" href="{% url 'refundReqStudent' course.0 %}">Create Refund Request</a></td>
                    <td><a class="btn btn-sm btn-danger" href="{% url 'discountReqStudent' course.0 %}">Create Discount Request</a></td>
              </tr>
          {% endfor %}
      </tbody>
    </table>

<script>
$(document).ready(function() {
    $('#products').DataTable();
} );

</script>

</div>

</body>
</html>

{% endblock %}