{%  extends 'PeakyLearn/main.html' %}
{% load static %}
{% block content %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
    <link rel="stylesheet" href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>
    <link rel="stylesheet" href='{% static "style/userRate.css"%}'>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome {{ username }}
    </title>

</head>
<body>



<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<form method="POST" action="">
    <h3 style="padding-top: 20px; margin-bottom: -40px; text-align: center; color: #a70808">Review on {{ cname }}</h3>
    <div class="form_container">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="container d-flex justify-content-center mt-100">
                <div class="row">
                    <div class="col-md-6" style="padding-bottom: 60px">
                        <div class="card">
                            <div class="card-body text-center"> <span class="myratings">0</span>
                                <h4 class="mt-1">Rate Course</h4>
                                <fieldset class="rating"> <input type="radio" id="star5" name="rating" value="5" />
                                    <label class="full" for="star5" title="Awesome - 5 stars"></label> <input type="radio" id="star4half" name="rating" value="4.5" />
                                    <label class="half" for="star4half" title="Pretty good - 4.5 stars"></label> <input type="radio" id="star4" name="rating" value="4" />
                                    <label class="full" for="star4" title="Pretty good - 4 stars"></label> <input type="radio" id="star3half" name="rating" value="3.5" />
                                    <label class="half" for="star3half" title="Meh - 3.5 stars"></label> <input type="radio" id="star3" name="rating" value="3" />
                                    <label class="full" for="star3" title="Meh - 3 stars"></label> <input type="radio" id="star2half" name="rating" value="2.5" />
                                    <label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label> <input type="radio" id="star2" name="rating" value="2" />
                                    <label class="full" for="star2" title="Kinda bad - 2 stars"></label> <input type="radio" id="star1half" name="rating" value="1.5" />
                                    <label class="half" for="star1half" title="Meh - 1.5 stars"></label> <input type="radio" id="star1" name="rating" value="1" />
                                    <label class="full" for="star1" title="Sucks big time - 1 star"></label> <input type="radio" id="starhalf" name="rating" value="0.5" />
                                    <label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label> <input type="radio" class="reset-option" name="rating" value="reset" />
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="input-group-text"  >
                <input type="text" name="r_content" placeholder="Enter your comment..." class="form-control">
            </div>
            <div class="input-group mb-2" >
                <input type="number" name="rating" placeholder="Rating..." class="myratings" id="myText" value=""  hidden>
            </div>
            <div class="d-flex justify-content-center mt-3 login_container">
                <input class="btn login_btn btn-outline-danger" type="submit" value="Submit Review">
            </div>
        </form>
    </div>

    {{ form.errors }}

</form>


<script>

    $(document).ready(function(){

        $("input[type='radio']").click(function(){
            var sim = $("input[type='radio']:checked").val();
//alert(sim);
            if (sim<3) { $('.myratings').css('color','red'); $(".myratings").text(sim); }else{ $('.myratings').css('color','green'); $(".myratings").text(sim); }
            document.getElementById("myText").value = sim;
        });
        });

    //Query All input fields
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder='Add review...';

    for (var field in form_fields){
        form_fields[field].className += ' form-control'
    }


</script>
</body>
</html>



{% endblock %}