
<form method="POST" action="">
    <h2>Review on Course {{ cname }}</h2>
    <div class="d-flex justify-content-center form_container">
        <form method="POST" action="">
            {% csrf_token %}
            {{ form }}

            <div class="d-flex justify-content-center mt-3 login_container">
                <input class="btn login_btn" type="submit" value="Enter">
            </div>
        </form>
    </div>

    {{ form.errors }}

</form>


<script>
    //Query All input fields
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder='Add review...';

    for (var field in form_fields){
        form_fields[field].className += ' form-control'
    }
</script>
