<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
{%  extends 'PeakyLearn/main.html' %}
{% load static %}
{% block content %}

    <html>
    <footer class="footer">
        {% if searched %}
            <h1  style="text-align: center; padding: 40px"><span class="text-muted">Your searching results on: {{ searched }}</span></h1>
            <table id="products" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Course ID</th>
                    <th>Course Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Language</th>
                    <th>Lecture Count</th>
                    <th>Certificate ID</th>
                    <th>Rate</th>
                    <th>Educator ID</th>
                    <th></th>


                </tr>
                </thead>
                <tbody>
                {% for course in courses %}
                    <tr>

                        <td>{{ course.0 }}</td>
                        <td>{{ course.1 }}</td>
                        <td>{{ course.2 }}</td>
                        <td>{{ course.3 }}</td>
                        <td>{{ course.4 }}</td>
                        <td>{{ course.5 }}</td>
                        <td>{{ course.6 }}</td>
                        <td>{{ course.7 }}</td>
                        <td>{{ course.8 }}</td>
                        <td><a class="btn btn-sm btn-outline-primary" href="{% url 'courseDetails' course.0 %}">Course Page</a></td>
                    </tr>
                {% endfor %}
                </tbody>
                {% else %}
                <tfoot>
                <h1  style="text-align: center; padding: 40px"><span class="text-muted">Hey! There is no such a course... Try something different.</span></h1>

                </tfoot>
        </table>
        {% endif %}
    </footer>
    </html>
{% endblock %}