<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
{%  extends 'PeakyLearn/main.html' %}
{% load static %}
{% block content %}
    {% load listtag %}

    <link rel="stylesheet" href='{% static "style/rateStar.css"%}'>
    <head>
        <meta charset="UTF-8">
        <title>Welcome {{ username }}
        </title>
    </head>
    <body>
        {% if searched %}
            <h1  style="text-align: center; padding: 40px"><span class="text-muted">Your searching results on: {{ searched }}</span></h1>
            <table id="products" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Course ID</th>
                    <th>Course Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Language</th>
                    <th>Educator ID</th>
                    <th>Description</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>


                </tr>
                </thead>
                <tbody>
                {% for course in courses %}
                    <tr>

                        <td>{{ course.0 }}</td>
                        <td>{{ course.1 }}</td>
                        <td>{{ course.2 }}</td>
                        <td>{{ course.3 }}</td>
                        <td>{{ course.4 }}</td>
                        <td>{{ course.5 }}</td>
                        <td><p class="b">{{ course.6 }}</p></td>
                        <td><a class="btn btn-sm btn-primary" href="{% url 'courseDetails' course.0 %}">Course Page</a></td>
                        <td><a class="btn btn-sm btn-success" href="{% url 'buyCourse' course.0 %}">Purchase Course</a></td>
                        <td><a class="btn btn-sm btn-danger" href="{% url 'addToWishlist' course.0 %}">Add to Wishlist</a></td>
                        <td><a class="btn btn-sm btn-warning" href="{% url 'seeCourseReviews' course.0 %}">See reviews</a></td>
                        <td><a class="btn btn-sm btn-info" href="{% url 'discountReqStudent' course.0 %}">Create Discount Request</a></td>
                    </tr>
                {% endfor %}
                </tbody>
                {% else %}
                <tfoot>
                <h1  style="text-align: center; padding: 40px"><span class="text-muted">Hey! There is no such a course... Try something different.</span></h1>

                </tfoot>
        </table>
        {% endif %}
    </body>

    </html>
{% endblock %}