
{%  extends 'PeakyLearn/main.html' %}
{% load static %}
{% block content %}
    {% load listtag %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" ></script>
{#<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap.min.css">#}
{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href='{% static "style/rateStar.css"%}'>
<head>
    <meta charset="UTF-8">
    <title>Welcome {{ username }}
    </title>
</head>
<body>
    <div class="modal-body row">
        <div class="col-md-3">
            <div style="align-items: center; background-color: #eee" class="card card-body">
                <h2> Specify your search</h2>
                <form method="POST" action="">
                    {% csrf_token %}
                    <hr>
                    <div class="accordion">Type Category</div>
                    <div class="panel">
                        <input type="text" name="category" placeholder="Category..." class="form-control">
                    </div>
                    <hr>
                    <div class="accordion">Type Language</div>
                    <div class="panel">
                        <input type="text" name="language" placeholder="Language..." class="form-control">
                    </div>
                    <hr>
                    <div class="accordion">Type Min Price</div>
                    <div class="panel">
                        <input type="number" name="price" placeholder="Min Price..." class="form-control" value="0">
                    </div>
                    <hr>
                    <div class="accordion">Type Max Price</div>
                    <div class="panel">
                        <input type="number" name="maxprice" placeholder="Max Price..." class="form-control">
                    </div>
                    <hr>

                    <input class="btn btn-lg btn-outline-secondary" type="submit" value="Filter Search">
                </form>

            </div>
        </div>
        <div class="col-md-9">
        <div class = "jumbotron text-center" >
            <h1>Welcome {{ username }} [Student]</h1>
            <a style="margin: 20px" class="btn btn-lg btn-outline-danger" href="{% url 'ownedCourses' %}">See My Purchased Courses</a>
            <h3> All Courses </h3>
            <hr>

            <table id="products" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Course ID</th>
                    <th>Course Name</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Language</th>
                    <th>Educator ID</th>
                    <th>Description</th>
                    <th>Average Rating</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>


                </tr>
                </thead>
                <tbody>
                {% for course in all_courses %}
                    <tr>

                        <td>{{ course.0 }}</td>
                        <td>{{ course.1 }}</td>
                        <td>{{ course.2 }}</td>
                        <td>{{ course.3 }}</td>
                        <td>{{ course.4 }}</td>
                        <td>{{ course.5 }}</td>
                        <td><p class="b">{{ course.6 }}</p></td>
                        <td>{{ avg_rating|return_item:forloop.counter0 }}</td>
                        <td><a class="btn btn-sm btn-primary" href="{% url 'courseDetails' course.0 %}">Course Page</a></td>
                        <td><a class="btn btn-sm btn-success" href="{% url 'buyCourse' course.0 %}">Purchase Course</a></td>
                        <td><a class="btn btn-sm btn-danger" href="{% url 'addToWishlist' course.0 %}">Add to Wishlist</a></td>
                        <td><a class="btn btn-sm btn-warning" href="{% url 'seeCourseReviews' course.0 %}">See reviews</a></td>
                        <td><a class="btn btn-sm btn-info" href="{% url 'discountReqStudent' course.0 %}">Create Discount Request</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <script>
                $(document).ready(function() {
                    $('#products').DataTable();
                } );

                var acc = document.getElementsByClassName("accordion");
                var i;

                for (i = 0; i < acc.length; i++) {
                    acc[i].addEventListener("click", function() {
                        this.classList.toggle("active");
                        var panel = this.nextElementSibling;
                        if (panel.style.maxHeight) {
                            panel.style.maxHeight = null;
                        } else {
                            panel.style.maxHeight = panel.scrollHeight + "px";
                        }
                    });
                }

            </script>

        </div>
    </div>
    </div>

</body>
</html>

{% endblock %}