{%  extends 'PeakyLearn/main.html' %}
{% load static %}
{% block content %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>certificate</title>
    </head>
    <style>
        body {
            background-image: url('../../../static/images/notes.png');
            background-repeat: repeat-y;
            background-size: cover;
        }
        input {
            margin: auto;
            width: 100%;
        }
    </style>
    <body>
    <h1 style="padding-top: 50px; color: #860202; text-align: center"> Taking Note on Lecture {{ lec_name }} in course {{ cname }} </h1>
    <hr>
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-9">

                </thead>
                <tbody>

                    <form method="POST" action="">
                        <div class="d-flex justify-content-center form_container">

                            <form method="POST" action="">
                                {{ form }}
                                {% csrf_token %}
                                <div class="d-flex justify-content-center mt-3 login_container">
                                    <input class="btn login_btn" type="submit" value="Click to send." >
                                </div>

                            </form>


                        </div>

                        {{ form.errors }}

                    </form>

                </tbody>

        </div>
    </div>


    </body>


    </html>


{% endblock %}

<script>
    //Query All input fields
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder='Take note...';

    for (var field in form_fields){
        form_fields[field].className += ' form-control'
    }
</script>