<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome {{ username }}
    </title>

</head>
<body>
<br>

<div class = "jumbotron text-center" >
    Welcome {{ username }}
    <td><a href="/userLogout/" class = "btn btn-danger">Logout</a></td>
    <h3> Course List </h3>
    <hr>

    <ul class = "list-group">

        <table class="table table-hover">

            <thead>
            <tr>
                <th scope="col">Course Name</th>
                <th scope="col">Category </th>
                <th scope="col">Instructor</th>
                <th scope="col">Price</th>
            </tr>

            </thead>

            {% for obj in objects %}
            <tbody>
            <tr>
                <td>{{obj.courseName}}</td>
                <td>{{obj.category}}</td>
                <td>Özgür Ulusoy</td>
                <th>{{obj.price}}</th>
                <td><a href="/courseDetails/" class = "btn btn-danger">See Detail</a></td>

            </tr>
            </tbody>

            {% endfor %}

        </table>

    </ul>


</div>

</body>
</html>