<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome {{ username }}</title>

</head>
<body>
<br>

<div class = "jumbotron text-center" >
    Welcome {{ username }}
    <h3> Course List </h3>
    <hr>

    <ul class = "list-group">
        <table class="table table-hover">

        <thead>
        <tr>
            <th scope="col">Course Name</th>
            <th scope="col">Category</th>
            <th scope="col">Instructor</th>
            <th scope="col">Price</th>
        </tr>

        </thead>

        <tbody>
        <tr>
            <td>Python Development</td>
            <td>Software</td>
            <td>Arda Korkmaz</td>
            <th>30</th>
            <td><a href="/courseDetails/" class = "btn btn-danger">See Detail</a></td>
        </tr>
        <tr>
            <td>Database Systems</td>
            <td>Software</td>
            <td>Özgür Ulusoy</td>
            <th>100</th>
            <td><a href="/courseDetails/" class = "btn btn-danger">See Detail</a></td>
        </tr>
        </tbody>
        </table>
    </ul>



</div>

</body>
</html>